@font-face{
   font-family:'Scout';
   src: url(../fonts/Scout-Regular.otf)
   		format('opentype');
   font-weight: normal;
   color: #262626;
}

/*Bold*/

@font-face{
   font-family:'Scout';
   src: url(../fonts/Scout-Bold.otf)
   		format('opentype');
   font-weight: 700;
   color: #262626;
}

/*Light*/

@font-face{
   font-family:'Scout';
   src: url(../fonts/Scout-Light.otf)
   		format('opentype');
   font-weight: 300;
   color: #262626;
}

/*Thin*/

@font-face{
   font-family:'Scout';
   src: url(../fonts/Scout-Thin.otf)
   		format('opentype');
   font-weight: 100;
   color: #262626;
}

/*Extra Light*/

@font-face{
   font-family:'Scout';
   src: url(../fonts/Scout-ExtraLight.otf)
   		format('opentype');
   font-weight: 200;
   color: #262626;
}

/*Cond Regular*/

@font-face {
	font-family: 'Scout';
	src: url('../fonts/ScoutCond-Regular.otf')
	     format('opentype');
	font-weight: 400;
	color: #262626;
}

body {
	font-family: 'Scout', sans-serif;
}

.noPad {
	padding: 0px;
}

.texto {
	font-weight: 300;
	font-size: 18px;
}

.shippingReturns {
	font-weight: 400;
	font-size: 18px;
	color: #FFFFFF;
	background-color: #262626;
	height: 30px;
}

.shippingReturns a {
	color: #FFFFFF;
	text-decoration: none;
	/*padding: 10px;*/
}

#estudio12 {
	font-size: 36px;
	font-weight: bold;
	margin-top: 10px;
}

.link a {
	color: #262626;
	text-decoration: none;
	font-size: 28px;
	font-weight: 400;
	margin: 10px;
	padding: 20px;
}

.link a:hover {
	color: #666666;
}

.shipping {
	height: 40px;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 300;
	padding: 4px;
	background-color: #364a63;
	border-bottom: 5px solid #e9c2d7;
}

.shipping a {
	color: #FFFFFF;
	text-decoration: none;
	text-transform: capitalize;
}

.women {
	font-size: 50px;
	margin: 20px;
}

.womenWatches {
	display: flex;
	align-items: flex-end;
}

.pics {
	width: 100%;
	padding: 0px 24px;
}

.men {
	font-size: 50px;
	margin: 20px;
}

.menWatches {
	display: flex;
	align-items: flex-end;
}

.watches {
	margin-top: 20px;
}

.heightRow {
	height: 281px;
}

.fossilStyle {
	font-weight: 500;
	font-size: 46px;
}

#fossil {
	font-weight: 300;
	font-size: 20px;
}

.paragraph h4 {
	font-weight: 400;
	font-size: 22px;
}

.paragraph p {
	font-weight: 300;
	font-size: 18px;
}

.socialMedia {
	height: 100px;
	background-color: #262626;
	padding: 30px; 
}

.socialMedia div {
	display: inline-block;
	margin: 0px 20px;
}

.customerServices ul {
	display: inline-block;
	font-weight: 300;
	font-size: 20px;
	margin: 30px;
}

.customerServices ul .att {
	display: inline-block;
	font-weight: 400;
	font-size: 20px;
}

@media(max-width: 996px){
	
	.shippingReturns a {
	font-weight: 300;
	font-size: 12px;
	padding: 8px;
	margin: 0;
	}

	.socialMedia {
	height: 40px;
	padding: 0px; 
	}

	.socialMedia div {
	display: inline-block;
	margin: auto;
	}	
}